<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<%- include('dashboard.ejs') %>
<body>
  

<div class="container">

    <section class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel Añadir Producto</h3>
      </div>
      <div class="panel-body">
  
        <form action="" method="post" class="form-horizontal" role="form">
  
          <div class="form-group">
            
              
          </div> <!-- form-group // -->
  
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Titulo</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" value="<%= products.title %>" name="title" id="title" placeholder="">
            </div>
          </div> <!-- form-group // -->
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Subtitulo</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="id" id="id" placeholder="">
            </div>
          </div> <!-- form-group // -->
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Precio</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="price" id="price" placeholder="">
            </div>
          </div> <!-- form-group // -->
          <div class="form-group">
            <label for="about" class="col-sm-3 control-label">Descripcion</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="description" id="description"></textarea>
            </div>
          </div> <!-- form-group // -->
          <div class="form-group">
            <label for="qty" class="col-sm-3 control-label">Autores</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="chef" id="chef" placeholder="">
            </div>
          </div> <!-- form-group // -->
          <div class="form-group">
  
            </div>
          </div> <!-- form-group // -->
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Imagen</label>
            <div class="col-sm-3">
              <label class="control-label small" for="file_img">Imagen (jpg/png):</label> <input type="file" name="file_img">
            </div>
           
          </div> <!-- form-group // -->
          <div class="form-group">
            <label for="tech" class="col-sm-3 control-label">Available</label>
            <div class="col-sm-3">
              <select class="form-control">
                <option value="">Disponible</option>
                <option value="texnolog2">No Disponible 2</option>

              </select>
            </div>
          </div> <!-- form-group // -->
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
          </div> <!-- form-group // -->
        </form>
  
      </div><!-- panel-body // -->
    </section><!-- panel// -->
  
  </div> <!-- container// -->
</body>