<!-- listProduct.ejs -->
<link rel="stylesheet" href="/css/styles.css">
<header role="banner">
    <div class="logo">
    <a href="/"><img src="/images/icons/logo_oscuro.ico" alt="" class="logito"></a>
    <h1 class="nombrePanel">
        Pintec Admin Panel
    </h1>
</div>
</header>

<body>
    

<nav role='navigation'>
    <ul class="main">
        <li class="dashboard"><a href="admindashboard">Dashboard</a></li>
        <li class="edit"><a href="/admin/productos">Productos</a></li>
        <li class="write"><a href="/admin/nuevo-producto#">New Product</a></li>
        <li class="comments"><a href="/admin/editar-producto/1">Update Product</a></li>
        <li class="users"><a href="/admin/romperla">Manage Users</a></li>
    </ul>
</nav>

<main role="main">
    <section class="panel important">
        <h2>Welcome</h2>
  </section>
