<link rel="stylesheet" href="/css/header2.css">
<header class="main-header">
    <nav id='accordion' class='dropdown'>
        <input type='checkbox' id='toggle-01' class='toggle burger-toggle' hidden>
        <label for='toggle-01' class='toggle-button'>
          <div class='burger'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
          </div>
        </label>
        <ul class='dropdown-menu lvl-1'>
          <li class='item'><a><i class='bi bi-house-fill'></i> Home</a></li>
          <li class='item'><a>About</a></li>
          <li class='dropdown'>
            <input type='checkbox' id='toggle-02' class='toggle' hidden>
            <label for='toggle-02' class='toggle-button caret'><i class='bi bi-image'></i> Gallery </label>
            <ul class='dropdown-menu lvl-2'>
              <li class='dropdown'>
                <input type='checkbox' id='toggle-03' class='toggle' hidden>
                <label for='toggle-03' class='toggle-button caret'>3D Graphics </label>
                <ul class='dropdown-menu lvl-3'>
                  <li class='item'><a>Characters</a></li>
                  <li class='item'><a>Landscapes</a></li>
                </ul>
              </li>
              <li class='item'><a>2D Illustration</a></li>
            </ul>
          </li>
          <li class='dropdown'>
            <input type='checkbox' id='toggle-04' class='toggle' hidden>
            <label for='toggle-04' class='toggle-button caret'><i class='bi bi-code-slash'></i> Web Development </label>
            <ul class='dropdown-menu lvl-2'>
              <li class='item'><a>Articles</a></li>
              <li class='dropdown'>
                <input type='checkbox' id='toggle-05' class='toggle' hidden>
                <label for='toggle-05' class='toggle-button caret'>Projects </label>
                <ul class='dropdown-menu lvl-3'>
                  <li class='item'><a>JS</a></li>
                  <li class='item'><a>CSS</a></li>
                </ul>
              </li>
              <li class='item'><a>Tutorials</a></li>
            </ul>
          </li>
          <li class='item'><a><i class='bi bi-envelope-fill'></i> Contact</a></li>
        </ul>
      </nav>
    <figure>
        <a href="/home"><img class="logo" src="/images/icons/logo_oscuro.jpeg" alt="Logo"></a>
    </figure>

    <form action="/buscar" method="get">
   
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="input" type="text" id="search" name="buscador" placeholder="Artista, Categoría, Pintura...">
    </form>
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
            <div class="dropdown">
                <button class="dropbtn"><i class="fa-solid fa-user user"></i> </button>
                <div class="dropdown-content">
                  <a href="#">Registrarse</a>
                  <a href="#">Iniciar Sesion</a>
                </div>
              </div></a>
              </div>
            </li>
            <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.5/cdn.js"></script>
<script src=""></script>