<header class="main-header">
    <i class="fa-solid fa-bars menu"></i>
    <figure>
        <img class="logo" src="/images/icons/logo_oscuro.jpeg" alt="Logo">
    </figure>

    <form action="/buscar" method="get">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="input" type="text" id="search" name="buscador" placeholder="Artista, Categoría, Pintura...">
    </form>
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
            <li><a href=""><i class="fa-solid fa-user"></i></a></li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>