* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

body {
    font-family: var(--cuerpo-font-family);
    background-color: var(--colorHueso);
    color: var(--colorMarron);
}

body main {
    padding-top: 75px;
}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
    color: #000;
}

img {
    max-width: 100%;
}