  /* header vista 320 mobile hasta 1440p  */
  @charset "UTF-8";
  @import "https://assets.codepen.io/3351103/__reset.css";
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

  .main-header {
      padding: 20px 0;
      background-color: #1e1200;
      display: flex;
      flex-wrap: wrap;
      /* width: 100vw; */
      height: 70px;
      justify-content: space-between;
      align-items: center;
      text-align: center;
  }

  .main-header .menu {
      color: var(--colorHueso);
      text-align: left;
      /* font-size: 30px; */
      /* padding-left: 30px; */
      width: 33%;
      order: -3;
  }

  .main-header figure {
      left: 4%;
      /* display: flex; */
      justify-content: center;
      margin: 0 !important;
      /* width: 33%; */
  }

  .main-header figure .logo {
      bottom: 20px;
      right: 50%;
      position: relative;
      width: 100px;
  }

  .main-header form {
      width: 33%;
      display: flex;
      justify-content: right;
  }

  .main-header form i {
      color: var(--colorHueso);
      font-size: 30px;
      padding-right: 30px;
  }

  .main-header form .input {
      display: none;
  }

  .main-header .nav-bar {
      display: none;
  }

  #nav-icons {

      top: 5em;
  }

  .main-header .nav-bar .nav-ul {
      /* top: 5em; */
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
  }

  .main-header .nav-bar .nav-ul li {
      font-size: 24px;
      color: #ffffff;
  }

  .main-header .nav-bar .nav-ul li a {
      color: #ffffff;
  }

  .menu-2:hover {
      display: block;
  }



  @media (min-width: 425px) {
      .main-header {
          padding: 20p;
          height: 90px;
      }

      .main-header i {}

      .main-header figure {
          /* width: 31%; */
          position: relative;
          justify-content: center;
          order: -1;
      }

      .main-header .logo {}

      .main-header form {
          order: -2;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 16%;
      }

      .main-header form i {
          position: relative;
          left: 25px;
          color: var(--colorMarron);
          font-size: 21px;
          padding: 0;
      }

      .main-header form .input {
          display: inline;
          padding: 10px 9% 3px;
          font-size: 15px;
      }

      .main-header .nav-bar {
          display: flex;
          width: 30%;
          height: 100%;
          align-items: center;
          padding-left: 25px;
      }

      .main-header .nav-bar .nav-ul {
          gap: 1em;
      }

      .main-header .nav-bar .nav-ul li {}

      .main-header .nav-bar .nav-ul li a {}

      .main-header .nav-bar .nav-ul li a i {
          font-size: 24px;
      }


      .main-header .menu-2 {
          z-index: 10;
          border: 2px solid var(--colorMarron);
          border-radius: 2px;
          overflow: hidden;
          background-color: var(--colorHueso);
          display: block;
          position: absolute;
      }


      .main-header .menu-2 .m-menu {
          padding: 0;
          margin: 0;
          list-style: none;
          text-align: left;
          width: 96px;
      }

      .main-header .menu-2 .m-menu .m-m-options {
          border-bottom: 1px solid black;
          display: flex;
      }

      .main-header .menu-2 .m-menu .m-m-options a {
          color: black;
          padding: 5px 0px 5px 0px;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
      }
  }

  @media (min-width: 769px) {
      .main-header {}

      .main-header i {
          position: relative;
      }

      .main-header .logo {}

      .main-header form {
          order: -1;
      }

      .main-header form i {}

      .main-header form .input {
          width: 26em;
          padding: 10px 0px 3px 30px;
      }

      .main-header .nav-bar {
          /* padding: 0px 30px 0px 0px; */
          justify-content: right;
      }

      .main-header .nav-bar .nav-ul {
          /* font-size: 24px; */
      }

      .main-header .nav-bar .nav-ul li {}

      .main-header .nav-bar .nav-ul li a {}

      .main-header .nav-bar .nav-ul li a i {
          font-size: 24px;
      }

      .main-header figure {
          bottom: 0.5em;
          order: 0;
          left: -41.5em;
          /* width: 10%; */
          /* justify-content: left; */
          /* right: 45%; */
      }

      .main-header form {
          left: -12em;
          order: 0;
          display: flex;
          position: relative;
          align-items: center;
          width: 17%;
      }

      .main-header .menu-2 {}

      .main-header .menu-2 .m-menu {}

      .main-header .menu-2 .m-menu .m-m-options {}

      .main-header .menu-2 .m-menu .m-m-options a {}
  }

  /* // Dropdown Button // */
  /* Botón de desplegable */
  .dropbtn {
      /* padding: 12px 20px; */
      position: relative;
      bottom: 0.4em;
      background-color: #1e1200;
      color: white;
      font-size: 24px;
      border: none;
      padding: 12px 20px;
      /* Añadido padding para mejorar aspecto */
      border-radius: 5px;
      /* Añadido borde redondeado */
      cursor: pointer;
      /* Cambio de cursor al pasar sobre el botón */
      transition: background-color 0.3s ease;
      /* Transición suave para el cambio de color */
  }

  /* Contenedor del desplegable */
  .dropdown {
      z-index: 2;
      /* top: 7.4em; */
      position: relative;
      display: inline-block;
  }

  /* Contenido del desplegable (Inicialmente oculto) */
  .dropdown-content {
      bottom: -43px;
      /* background-color: #1e1200; */
      display: none;
      position: absolute;
      background-color: #1e1200;
      min-width: 151px;
      /* Aumento del ancho mínimo */
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 5px;
      /* Añadido borde redondeado */
  }

  #dropdown-contento {

      bottom: -62.5px;

      widht: -5px;

      height: 59px;

      top: 1.em;
  }

  /* Enlaces dentro del desplegable */
  .dropdown-content a {
      color: white;
      /* padding: 10px 12px; */
      /* Aumento del padding */
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;
      /* Transición suave para el cambio de color */
      border-bottom: 1px solid white;
  }

  /* Cambio de color de los enlaces al pasar sobre ellos */
  .dropdown-content a:hover {
      background-color: #ddd;
  }

  /* Mostrar el menú desplegable al pasar sobre el contenedor */
  .dropdown:hover .dropdown-content {
      /* background-color: #1e12; */
      display: block;
  }

  /* Cambio del color de fondo del botón al mostrar el desplegable */
  .dropdown:hover .dropbtn {
      background-color: #261b0b;
      /* Cambio de color */
  }

  header {
      background-color: #6E422B;
      /* Color marrón */
      /* padding: 20px 0; */
  }

  .container {
      width: 42%;
      margin: 0 auto;
  }

  nav {
      left: -2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
  }

  .menu-toggle {
      /* left: -1em; */
      /* bottom: -30em; */
      /* left: 15em; */
      z-index: 350;
      position: relative;
      cursor: pointer;
  }

  .bar {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px auto;
      transition: transform 0.3s ease;
      /* Añadido para la transición al icono X */
  }

  .nav-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 10px);
      left: -100%;
      /* Cambiado */
      background-color: #6E422B;
      /* Color marrón */
      width: 100%;
      z-index: 2;
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease, left 0.3s ease;
      /* Modificado */
  }

  .nav-list.active {
      top: 9.9em;
      width: 19em;
      /* padding: 1em; */
      display: flex;
      opacity: 1;
      left: -5.3em;
      /* Añadido */
  }

  .nav-list li {
      background-color: #1e1200;
      position: relative;
      padding: 1em;
      margin-right: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-list li:last-child {
      border-bottom: none;
  }

  .nav-list li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 10px;
  }

  .content {
      padding: 20px;
  }

  /* Nuevo estilo para el icono X */
  .menu-toggle.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-list li:hover {
      background-color: rgba(255, 255, 255, 0.2);
      /* Cambia el color de fondo al pasar el mouse */
  }

  .img-profile {

      font-size: 0px;

      width: 80px;

      /* overflow: hidden; */

      border-radius: 50%;
  }

  .nav-profile {

      width: 35px;

      font-size: 0;
  }

  #nombre-usuario {
      margin-top: 9px;
      /* bottom: -20px; */
  }

  #fuente {

      font-size: 19px;
  }

  #imgProfile {

      border-radius: 50%;

      overflow: hidden;
  }