header {
    height: 75px;
    background-color: var(--colorMarron);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

/* Logo */
header .img-logo {
    height: 100%;
    width: 25%;
}

header .img-logo img {
    height: 100%;
}

/* Header Buscador */
header .search-form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    width: 50%;
}

header .search-form .input-search {
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

header .search-form .btn-search {
    border: none;
    background-color: white;
    color: var(--colorMarron);
    padding: 10px;
    border-radius: 10px;
}


/* Header Burger Menu */
header .burger-menu {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .burger-menu .burger-menu-label {
    color: #fff;
    font-size: 30px;
}

header .burger-menu .burger {
    display: none;
}

header .nav-bar {
    display: none;
    background-color: var(--colorMarron);
    padding: 10px;
    flex-wrap: wrap;
}

header .nav-bar.active {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

header .nav-bar .nav-bar-list {
    margin: 0;
    padding: 0 0 10px 0;
}

header .nav-bar .nav-bar-list .nav-bar-item {
    text-align: center;
    font-size: 30px;
}

header .nav-bar .nav-bar-list .nav-bar-item:hover {
    background-color: var(--colorMarronClaro);
}

header .nav-bar .nav-bar-list .nav-bar-item a {
    color: #fff;
}
header .nav-bar .usuarios{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
header .nav-bar .usuarios a {
    color: #fff;
    font-size: 35px;
}



@media (min-width: 769px) {
    header {
        padding: 0 20px;
    }
    header .burger-menu{
        display: none;
    }
    header .img-logo {
        width: 14%;
    }
    header .search-form {
        width: 25%;
    }

    header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        height: 75px;
    }
    header .nav-bar .nav-bar-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 70%;
    }
    header .nav-bar .nav-bar-list .nav-bar-item {
        font-size: 20px;
    }
    header .nav-bar .usuarios {
        width: 15%;
    }
}