<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Venta de pinturas e insumos">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pintec">
    <meta property="og:description" content="Descubre una gran infinidad de pinturas y nuevos artistas!">
    <meta property="og:image" content="/images/logo.jpg">
    <meta property="og:url" content="http://localhost:3030">

    <link rel="icon" href="/images/logo-ico.ico" type="image/x-icon">
    
    <!-- BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- GLIDER css-->
    
    <link rel="stylesheet" type="text/css" href="/css/library/glider.min.css">

    <!---->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- GLIDER js -->
    <script src="/js/library/glider.min.js" defer></script>
    <script src="/js/configs/configGlider.js" defer></script>
    
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Pintec</title>
</head>
<body>
    <header class="main-header">
        <i class="fa-solid fa-bars menu"></i>
        <figure>
            <img class="logo" src="/images/icons/logo_oscuro.jpeg" alt="Logo">
        </figure>

        <form action="/buscar" method="get">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="input" type="text" id="search" name="buscador" placeholder="Artista, Categoría, Pintura...">
        </form>
        <nav class="nav-bar">
            <ul class="nav-ul">
                <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                <li><a href=""><i class="fa-solid fa-user"></i></a></li>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="main-home">
        <!-- CARRUSEL -->
        <div id="carouselExampleCaptions" class="carrusel carousel slide">
            <div class="carrusel-div carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carrusel-div2 carousel-inner">
              
              <!-- PRIMER BANNER -->
                <div class="carousel-item">
                <img src="/images/banners/banner-1.webp" class="d-block w-100 img1" alt="banner1">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Descubrí</h5>
                  <p>Embellece tu mundo con arte auténtico</p>
                </div>
              </div>
              
              <!-- SEGUNDO BANNER -->
              <div class="carousel-item">
                <img src="/images/banners/banner-2.webp" class="d-block w-100 img2" alt="banner2">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Disfrutá</h5>
                  <p>Despierta tus sentidos con un estallido de colores y creatividad</p>
                </div>
              </div>

              <!-- TERCER BANNER -->
              <div class="carousel-item active">
                <img src="/images/banners/banner-3.webp" class="d-block w-100 img3" alt="banner3">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Explorá</h5>
                  <p>Nuevos artistas, nuevas ideas</p>
                </div>
              </div>
            </div>
            
            <!-- BUTTONS CARRUSEL -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>

        <!-- PRODUCTOS <DESTACADOS>-->
        <section class="pag">
            <h2 class="subt">DESTACADOS</h2>
            <!-- SLIDER -->
            <div class="glider-contain productos">
                <div class="glider grupo">
                  <div><a href="/producto/detalle"><img src="/images/productos/producto-1.png" alt="producto1"></a></div>
                  <div><img src="/images/productos/producto-2.png" alt="producto2"></div>
                  <div><img src="/images/productos/producto-3.png" alt="producto3"></div>
                  <div><img src="/images/productos/producto-4.png" alt="producto4"></div>
                  <div><img src="/images/productos/producto-1.png" alt="producto1"></div>
                  <div><img src="/images/productos/producto-2.png" alt="producto2"></div>
                  <div><img src="/images/productos/producto-3.png" alt="producto3"></div>
                  <div><img src="/images/productos/producto-4.png" alt="producto4"></div>
                </div>
              
                
              </div>
            <!-- PRODUCTOS <R. PARA TI>-->
            <h2 class="subt">RECOMENDADOS PARA TI</h2>
            <div class="productosOfertas">
                <div class="grupo">
                    <img src="/images/productos/producto-1.png" alt="producto1">
                    <img src="/images/productos/producto-2.png" alt="producto2">
                    <img src="/images/productos/producto-3.png" alt="producto3">
                    <img src="/images/productos/producto-4.png" alt="producto4">
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-gral" >
        <!-- SECCIÓN 1  CONTACTO UBICACION-->
        <section class="datos-footer">
            <h2 class="titulo-footer">Contactanos</h2>
            <div class="correo-footer">
            <i class="fa-solid fa-envelopes-bulk"></i>
           <a class="link-email-footer" href="#"><h2 class="email-footer">tiendaonlinepintec@gmail.com</h2></a>
            </div>
            <div class="ubicacion-footer">
                <div class="ubicacion-plus-footer">
                    <i class="fa-solid fa-location-dot"></i>
                    <h2 class="direccion-AV-footer">Av. del libertador 1473, CABA, Argentina</h2>
                 </div>
            <iframe class="mapa-footer" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.79778022414!2d-58.393028699999995!3d-34.583982999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa1b9cf78d5%3A0xa96188dae8b165db!2sAv.%20del%20Libertador%201473%2C%20C1425AAA%20CABA!5e0!3m2!1ses!2sar!4v1706192552734!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    
        </section>
    
        <!-- SECCIÓN 2: MEDIOS DE PAGO Y ENVIO-->
        <section class="pago-envio-footer">
            <h2 class="titulo-footer">Medios de pago</h2>
            <div class="tarjetas-footer">
                <ul class="fila-footer">
                    <li><a href="#"><img class="img-pago-footer" src ="./images/otros/pago-1.png" alt="pago-1"></a></li>
                    <li><a href="#"><img class="img-pago-footer" src ="./images/otros/pago-2.jpg" alt="pago-2"></a></li>
                    <li><a href="#"><img class="img-pago-footer" src ="./images/otros/pago-3.png" alt="pago-3"></a></li>
                    <li><a href="#"><img class="img-pago-footer" src ="./images/otros/pago-4.png" alt="pago-4"></a></li>
    
                </ul>
                <ul class="fila2-footer">
                    <li><a href="#"><img class="img-pago2-footer" src ="./images/otros/pago-5.png" alt="pago-5"></a></li>
                    <li><a href="#"><img class="img-pago2-footer" src ="./images/otros/pago-6.png" alt="pago-6"></a></li>
                    <li><a href="#"><img class="img-pago2-footer" src ="./images/otros/pago-7.jpg" alt="pago-7"></a></li>
    
                </ul>
            </div>
            <h2 class="titulo-footer">Formas de envio</h2>
            <div class="tarjetas-footer">
                <ul class="fila-Env-footer">
                    <li><a href="#"><img class="img-envio-footer" src ="./images/otros/envio-1.jpg" alt="envio-1"></a></li>
                    <li><a href="#"><img class="img-envio-footer" src ="./images/otros/envio-2.jpg" alt="envio-2"></a></li>
                    <li><a href="#"><img class="img-envio-footer" src ="./images/otros/envio-3.jpg" alt="envio-3"></a></li>
    
                </ul>
                <ul class="fila-Env-footer">
                    <li><a href="#"><img class="img-envio-footer" src ="./images/otros/envio-4.jpg" alt="envio-4"></a></li>
                    <li><a href="#"><img class="img-envio-footer" src ="./images/otros/envio-5.jpg" alt="envio-5"></a></li>
                    <li><a href="#"><img class="img-envio-footer" src ="./images/otros/envio-6.png" alt="envio-6"></a></li>
    
                </ul>
    
            </div>
    
        </section>
        <!-- SECCIÓN 3: REDES SOCIALES-->
        <section class="redes-footer">
            <div class="sector-redes">
            <a href="/index.html"><img class="img-logo-footer" src ="./images/icons/logo_oscuro.jpeg" alt="logo-PINTEC"></a>
            </div>
            <ul class="icons-redes-footer">
                <li class="link-redes-footer"><div class="cuadro-footer"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></div></li>
                <li class="link-redes-footer"><div class="cuadro-footer"><a href="#"><i class="fa-brands fa-instagram"></i></a></div></li>
                <li class="link-redes-footer"><div class="cuadro-footer"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div></li>
    
            </ul>
        </section>
    
        </footer>
        <!-- BOOTSTRAP SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
</body>
</html>