@media (min-width: 0px) {
    .footer-gral {
background-color: var(--marron);
color: var(--amarillopastel);
display: flex;
flex-wrap: wrap;
width: 100vw;
}

    .footer-gral .datos-footer {
width: 90%;
margin: 0 auto;
}

    .footer-gral .datos-footer .titulo-footer {
margin: 20px 0px 30px;
}

    .footer-gral .datos-footer .correo-footer {
display: flex;
/* margin: 10px; */
}

    .footer-gral .datos-footer .correo-footer i {
font-size: 20px;
}

    .footer-gral .datos-footer .correo-footer a {
color: var(--amarillopastel);
font-size: 13px;
}

    .footer-gral .datos-footer .ubicacion-footer {
width: 100%;
margin: 20px 0px;
}

    .footer-gral .datos-footer .ubicacion-footer .ubicacion-plus-footer {
display: flex;
}

    .footer-gral .datos-footer .ubicacion-footer .ubicacion-plus-footer i {
font-size: 20px;
}

    .footer-gral .datos-footer .ubicacion-footer .ubicacion-plus-footer h2 {
font-size: 14px;
}

    .footer-gral .datos-footer .ubicacion-footer .mapa-footer {
width: 100%;
}

    .footer-gral .pago-envio-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }

}


