:root{
    --colorMarron:#1E1200;
    --colorHueso: #9ea668;
    --subtitulosTamaño:24px;
    --cuerpoTamaño:16px;
    --subtitulos-font-family: "Inria Serif", serif;
    --cuerpo-font-family: "IBM Plex Serif", serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--cuerpo-font-family);
    box-sizing: border-box;
    list-style-type: none;
}
