   .main-header {
        background-color: var(--colorMarron);
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .main-header .menu {
        color: var(--colorHueso);
        text-align: left;
        font-size: 30px;
        padding-left: 30px;
        width: 33%;
        order: -3;
    }
    
    .main-header figure {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    width: 33%;
}

    .main-header figure .logo {
    width: 100px;
}
    
    .main-header form {width: 33%;display: flex;justify-content: right;}
    
    .main-header form i {
        color: var(--colorHueso);
        font-size: 30px;
        padding-right: 30px;
    }
    
    .main-header form .input{
    display: none;
}
    
    .main-header .nav-bar {
    display: none;
}
    
    .main-header .nav-bar .nav-ul{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
    
    .main-header .nav-bar .nav-ul li {
        font-size: 30px;
    }
    
    .main-header .nav-bar .nav-ul li a {
    color: var(--colorHueso);
}
    
    .main-header .nav-bar .nav-ul li a i{} 


@media (min-width: 426px) {
    .main-header {
    height: 90px;
    }
    
    .main-header i {
    }

    .main-header figure {
    width: 31%;
    position: relative;
    justify-content: center;
    order: -1;
}

i.fa-solid.fa-bars.menu {width: 10%;}
    
    .main-header .logo {
}
    
    .main-header form {
    order: -2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 16%;
}
    
    .main-header form i {
    position: relative;
    left: 25px;
    color: var(--colorMarron);
    font-size: 21px;
    padding: 0;
    }
    
    .main-header form .input{
    display: inline;
    padding: 10px 9% 3px;
    font-size: 15px;
}
    
    .main-header .nav-bar {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}
    
    .main-header .nav-bar .nav-ul{
    gap: 22px;
    }
    
    .main-header .nav-bar .nav-ul li {
    }
    
    .main-header .nav-bar .nav-ul li a {
}
    
    .main-header .nav-bar .nav-ul li a i{
    font-size: 24px;
} 


.main-header .menu-2 {
    z-index: 10;
    border: 2px solid var(--colorMarron);
    border-radius: 2px;
    overflow: hidden;
    background-color: var(--colorHueso);
    position: absolute;
    min-width: 150px
}

.main-header fa-solid:hover .menu-2 {
    display: block;
}

.main-header .menu-2 .m-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

.main-header .menu-2 .m-menu .m-m-options {}

.main-header .menu-2 .m-menu .m-m-options a {
    color: black;
    padding: 5px;
    text-decoration: none;
}
}

@media (min-width: 769px) {
    .main-header {
    }
    
    .main-header i {
    }
    
    .main-header .logo {}
    
    .main-header form {
    order: -1;
}
    
    .main-header form i {
    }
    
    .main-header form .input{
    padding: 10px 0px 3px 20%;
}
    
    .main-header .nav-bar {
    padding: 0px 30px 0px 0px;
    justify-content: right;
}
    
    .main-header .nav-bar .nav-ul{
    }
    
    .main-header .nav-bar .nav-ul li {
    }
    
    .main-header .nav-bar .nav-ul li a {}
    
    .main-header .nav-bar .nav-ul li a i{} 

    .main-header figure {
    order: -2;
    width: 10%;
    justify-content: left;
    right: 13%;
}

.main-header form {
    order: -2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 16%;
}

.main-header .menu-2 {}

.main-header .menu-2 .m-menu {}

.main-header .menu-2 .m-menu .m-m-options {}

.main-header .menu-2 .m-menu .m-m-options a {}
}

