.main-home {
    background-color: var(--colorHueso);
    text-align: center;
}


.main-home .banner img{width: 100vw;}


.main-home .pag .subt {
    text-align: left;
    padding: 15px 0px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

.main-home .pag .productos {
    width: 80%;
    margin: 0 auto;
}

.main-home .pag .productos .grupo {padding: 20px 0px;border-top: 1px solid var(--colorMarron);border-bottom: 1px solid var(--colorMarron);display: flex;flex-wrap: wrap;gap: 20px;}

.main-home .pag .productos .grupo div img{
    width: 80%;
    height: 100%;
    border: 1px solid var(--colorMarron);
}

.main-home .pag .productosOfertas {
    width: 80%;
    margin: 0 auto;
}

.main-home .pag .productosOfertas .grupo {
    padding: 20px 0px;
    border-top: 1px solid var(--colorMarron);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.main-home .pag .productosOfertas .grupo a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    width: 65%;
}

.main-home .pag .productosOfertas .grupo a img {
    width: 100%;
    border: 1px solid var(--colorMarron);
}

.main-home .carrusel {}

.main-home .carrusel .carrusel-div {
    gap: 10px;
}

.main-home .carrusel .carrusel-div button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid;
}

.main-home .carrusel .carrusel-div2 {
    background-color: black;
}

.main-home .carrusel .carrusel-div2 .carousel-item {
    height: 300px;
}

.bg-img {
    background-image: url(/images/banners/banner-7.webp);
}

.bg-img2 {
    background-image: url(/images/banners/banner-2.webp);
}

.bg-img3 {
    background-image: url(/images/banners/banner-3.webp);
    background-position: top!important;
}

.bg-img4 {
    background-image: url(/images/banners/banner-4.webp);
    background-position: left!important;
}

.bg-img5 {
    background-image: url(/images/banners/banner-5.webp);
}

.c-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 426px) {
    .main-home {

    }
    
    .main-home .banner {}
    
    .main-home .banner img{}
    
    .main-home .banner i{}
    
    .main-home .pag {
    }
    
    .main-home .pag .subt {

    }
    
    .main-home .pag .productos {

    }
    
    .main-home .pag .productos .grupo {}
    
    .main-home .pag .productos .grupo div img{

    }
    
    .main-home .pag .productosOfertas {
 
    }
    
    .main-home .pag .productosOfertas .grupo {

    }
    
    .main-home .pag .productosOfertas .grupo img {

width: 31%;

}
.main-home .pag .productosOfertas .grupo a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    width: 31%;
}
    
    .main-home .carrusel {}
    
    .main-home .carrusel .carrusel-div {

    }
    
    .main-home .carrusel .carrusel-div button {

    }
    
    .main-home .carrusel .carrusel-div2 .carousel-item img{}
    
    .main-home .carrusel .carrusel-div2 .carousel-item .carousel-caption {
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        border-radius: 100px;
}
    
    .main-home .carrusel .carrusel-div2 .carousel-item .carousel-caption h5 {}
    
    .main-home .carrusel .carrusel-div2 .carousel-item .carousel-caption p {}
    
    .main-home .carrusel .carousel-contro-prev {}
    
    .main-home .carrusel .carousel-contro-prev-icon {}
    
    .main-home .carrusel .carousel-contro-prev .visually-hidden {}
    
    .main-home .carrusel .carousel-contro-next {}
    
    .main-home .carrusel .carousel-contro-next-icon {}
    
    .main-home .carrusel .carousel-contro-next .visually-hidden {}

    .main-home .carrusel .carrusel-div2 .carousel-item .img1 {}

    .main-home .carrusel .carrusel-div2 .carousel-item .img2 {}

    .main-home .carrusel .carrusel-div2 .carousel-item .img3 {}
    
    .bg-img {
        background-image: url(/images/banners/banner-1.webp);
    }
    .bg-img3 {
        background-image: url(/images/banners/banner-6.webp);
        background-position: center!important;
    }
}

@media (min-width: 769px) {
    .main-home {

    }
    
    .main-home .banner {}
    
    .main-home .banner img{}
    
    .main-home .banner i{}
    
    .main-home .pag {
    }
    
    .main-home .pag .subt {

    }
    
    .main-home .pag .productos {

    }
    
    .main-home .pag .productos .grupo {}
    
    .main-home .pag .productos .grupo div img{

    }
    .main-home .pag .productosOfertas .grupo a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row-reverse;
        width: 23%;
    }
    
    .main-home .pag .productosOfertas {
 
    }
    
    .main-home .pag .productosOfertas .grupo {

    }
    
    .main-home .pag .productosOfertas .grupo img {

width: 23%;

}
    
    .main-home .carrusel {}
    
    .main-home .carrusel .carrusel-div {

    }
    
    .main-home .carrusel .carrusel-div button {

    }
    
    .main-home .carrusel .carrusel-div2 .carousel-item img{}
    
    .main-home .carrusel .carrusel-div2 .carousel-item .carousel-caption {}
    
    .main-home .carrusel .carrusel-div2 .carousel-item .carousel-caption h5 {}
    
    .main-home .carrusel .carrusel-div2 .carousel-item .carousel-caption p {}
    
    .main-home .carrusel .carousel-contro-prev {}
    
    .main-home .carrusel .carousel-contro-prev-icon {}
    
    .main-home .carrusel .carousel-contro-prev .visually-hidden {}
    
    .main-home .carrusel .carousel-contro-next {}
    
    .main-home .carrusel .carousel-contro-next-icon {}
    
    .main-home .carrusel .carousel-contro-next .visually-hidden {}

    .main-home .carrusel .carrusel-div2 .carousel-item .img1 {}

    .main-home .carrusel .carrusel-div2 .carousel-item .img2 {}

    .main-home .carrusel .carrusel-div2 .carousel-item .img3 {}
}